<!-- Validation failure messages -->
<% if @very_best.errors.any? %>
  <% @very_best.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Very Best #<%= @very_best.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_very_best/<%= @very_best.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <%= select_tag(:food_id, options_from_collection_for_select(Food.all, :id, :name, @very_best.food_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @very_best.venue_id), :class => "form-control") %>
      </div>

      
      

      <button class="btn btn-warning">
        Update Very Best
      </button>
      or
      <a href="/very_bests/<%= @very_best.id %>">Cancel</a>
    </form>
  </div>
</div>
