<div class="page-header">
  <h3>Very Best #<%= @very_best.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Food</dt>
      <dd>
        <% if @very_best.food.present? %>
          <a href="/foods/<%= @very_best.food_id %>">
            <%= @very_best.food.name %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @very_best.venue.present? %>
          <a href="/venues/<%= @very_best.venue_id %>">
            <%= @very_best.venue.name %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @very_best.user.present? %>
          <a href="/users/<%= @very_best.user_id %>">
            <%= @very_best.user.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/very_bests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @very_best.user %>
        <a href="/very_bests/<%= @very_best.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_very_best/<%= @very_best.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
