<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Verybestfood</dt>
      <dd><%= @user.verybestfood %></dd>

      <dt>Verybestvenue</dt>
      <dd><%= @user.verybestvenue %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many very_bests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Very Bests
      </li>

      <% @user.very_bests.each do |very_best| %>
        <li class="list-group-item">
          <a href="/very_bests/<%= very_best.id %>">
            <%= very_best.food_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/very_bests/<%= very_best.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/very_bests/<%= very_best.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_very_best/<%= very_best.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
