<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @venue.name %></dd>

      <dt>Food</dt>
      <dd><%= @venue.food_id %></dd>

      <dt>Location</dt>
      <dd><%= @venue.location %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Venue has many very_best -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Very Best
      </li>

      <% @venue.very_best.each do |very_best| %>
        <li class="list-group-item">
          <a href="/very_bests/<%= very_best.id %>">
            <%= very_best.food_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/very_bests/<%= very_best.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/very_bests/<%= very_best.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_very_best/<%= very_best.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_very_best" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <%= select_tag(:food_id, options_from_collection_for_select(Food.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Very Best
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Venue has many foods -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods
      </li>

      <% @venue.foods.each do |food| %>
        <li class="list-group-item">
          <a href="/foods/<%= food.id %>">
            <%= food.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/foods/<%= food.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/foods/<%= food.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food/<%= food.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
